.header {
  padding: 1rem 0;
  background-color: #333;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}

// logo
.header__logo_svg {
  display: block;
}

//register
.register span {
  font-family: 'PT Sans', sans-serif;
  color: #fff;
}

@media screen and (max-width: 769px) {
  .header__logo_svg {
    width: 175px;
  }
}

@media screen and (max-width: 426px) {
  .register {
    display: none;
  }
  .header__logo_svg {
    width: 155px;
  }
}

@media screen and (max-width: 376px) {
  .header__logo_svg {
    width: 140px;
  }
}

@media screen and (max-width: 321px) {
  .header__logo_svg {
    width: 120px;
  }
}