.first-screen {
  background-repeat: no-repeat;
  background-image: url("../Images/HomePage/bgc.png");
  background-size: cover;
  background-position: center;
  height: 1000px;
  position: relative;
}

.first-screen__content {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 14rem 2rem 0;
}

//title
.first-screen__title {
  color: #fff;
  font-size: 36px;
  font-family: 'Lora', serif;
  font-weight: bold;
  text-align: center;
}

.main__title {
  padding: 0 0.5rem;
  font-size: 30px;
  color: #333;
  font-family: 'Lora', serif;
  font-weight: bold;
  text-align: center;
}

//title
.blogs__content__title,
.visit__content__title,
.catalogs__content__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

//subtitle
.subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #333333;
}

//link
.first-screen__btn {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  padding: 1rem 3rem;
  background-color: #333;
  border: 2px solid #fff;
  transition: all .3s ease-in-out;

  &:hover {
    background-color: #979797;
  }
}

//catalogs
.catalogs {
  padding: 3rem 0;
}

.catalogs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.catalogs__content__imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.catalogs__card {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 300px;
  width: 350px;
  padding: 2.3rem;
  transition: all .3s ease-in-out;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0 30px 2px #979797;
  }
}

.catalogs__card__text {
  color: #fff;
  font-size: 24px;
  letter-spacing: 4px;
  font-family: "PT Sans", sans-serif;
}

.Rings {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../Images/HomePage/Rings.png");
}

.Earrings {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../Images/HomePage/Earrings.png");
}

.Suspensions {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../Images/HomePage/Suspensions.png");
}

.Cufflinks {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../Images/HomePage/Cufflinks.png");
}

.Bracelets {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../Images/HomePage/Bracelets.png");
}

.Watch {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../Images/HomePage/Watch.png");
}

//visit
.visit {
  margin: 4rem 0;
  padding: 8rem 0;
  background-image: url("../Images/HomePage/bgc-visit.png");
}

.visit__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.visit__content__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.visit__content__text {
  max-width: 700px;
}

//text
.visit__text {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  padding: 0 1rem;
}

//title
.visit__title,
.subtitle__visit {
  color: #fff;
}

//btn
.visit__btn {
  letter-spacing: 4px;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  padding: 1rem 3rem;
  border: 2px solid #979797;
  background-color: #fff;
  transition: all .3s ease-in-out;

  &:hover {
    background-color: #D6D6D6;
  }
}

//blogs
.blogs {
  margin: 6rem 0;
}

.blogs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.blogs__content__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.blogs__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.blogs__card {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 400px;
  width: 350px;
  padding: 2.3rem;
  transition: all .3s ease-in-out;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0 30px 2px #979797;
  }
}

.blogs-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../Images/HomePage/blogs-1.png");
}

.blogs-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../Images/HomePage/blogs-2.png");
}

.blogs-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../Images/HomePage/blogs-3.png");
}

//text
.blogs__card__text {
  padding: 0 3rem;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
}

//link
.blogs__btn_link {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  padding: 1rem 3rem;
  border: 0;
  background-color: #333333;
  transition: all .3s ease-in-out;

  &:hover {
    background-color: #979797;
  }
}

@media screen and (max-width: 1200px) {
  .first-screen {
    height: 900px;
  }

  .catalogs__content__imgs {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogs__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .first-screen {
    height: 800px;
  }
}

@media screen and (max-width: 769px) {
  .first-screen {
    height: 700px;
  }

  .catalogs__content__imgs {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 426px) {
  .first-screen {
    height: 500px;
  }

  .catalogs__card {
    width: 300px;
  }

  .blogs__card {
    width: 300px;
    height: 350px;
  }
}