@import "Styles/header.scss";
@import "Styles/footer.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

::selection {
  background: #D6D6D6;
}

//scroll-bar
body::-webkit-scrollbar {
  width: 0.45rem;
}

body::-webkit-scrollbar-track {
  background: #333333;
}

body::-webkit-scrollbar-thumb {
  background-color: #D6D6D6;
  border-radius: 1rem;
  border: 2px solid #333333;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

html, body {
  height: 100%;
}

.main {
  flex: 1;
}